@font-face {
  font-family: 'Dunkin Sans';
  src: url('../store/fonts/Dunkin%20Sans.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  font-family: sans-serif;
}

main {
  width: calc(100vw - 400px);
  margin: 0 auto;
}