.product-category__title {
    font-family: 'Dunkin Sans', sans-serif;
    font-size: 28px;
    margin-bottom: 20px;
}

.product-category__item {
    display: flex;
    height: 240px;
    width: 100%;
    align-items: center;
    padding: 20px;
    margin-bottom: 40px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.product-category__item-left {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-category__item-image {
    height: 200px;
    width: 200px;
    object-fit: contain;
}

.product-category__item-right {
    flex: 2;
}

.product-category__item-title {
    font-family: 'Dunkin Sans', sans-serif;
    font-size: 20px;
    margin: 0 0 10px;
}

.product-category__item-rate {
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    margin-bottom: 10px;
}

.product-category__item-price {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 10px;
}

.product-category__item-buttons {
    display: flex;
    gap: 10px;
}

.product-category__button {
    font-family: 'Dunkin Sans', sans-serif;
    padding: 5px 15px;
    border-radius: 5px;
    border: 2px solid #000;
    background-color: #7F2C6E;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
}