/* Overlay для затемнения фона */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}

/* Стили для модалки */
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    z-index: 1001;
    border-radius: 8px;
    width: 400px;
    max-width: 90%;
}

.modal-content {
    display: flex;
    flex-direction: column;
}

.login-title {
    margin: 0 0 15px;
    font-family: 'Dunkin Sans', sans-serif;
}

.user-profile-text {
    font-family: 'Montserrat', sans-serif;
}

.user-profile-title {
    margin: 0 0 15px;
    font-family: 'Montserrat', sans-serif;
}

/* Кнопка */
.login-submit-btn {
    font-family: 'Dunkin Sans', sans-serif;
    padding: 5px 15px;
    border-radius: 5px;
    border: 2px solid #000;
    background-color: #7F2C6E;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
}

label {
    font-family: 'Dunkin Sans', sans-serif;
}

input {
    font-family: 'Dunkin Sans', sans-serif;
}

input:focus-visible {
    outline: 2px solid #7F2C6E;
}

.logout-btn {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    padding: 5px 15px;
    border-radius: 5px;
    border: 2px solid #000;
    background-color: #7F2C6E;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
}

/* Поля ввода */
.input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

/* Сообщение об ошибке */
.error-message {
    color: red;
    margin-bottom: 15px;
}